p {
	color:red;
	font-family: Helvetica;
}

div {
	margin-right: auto;
	margin-left: auto;
}

img {
	height:400px;
	width:auto;
}

ul {
	list-style-type:upper-roman;
}

h1 {
	font-size:36;
	font-family: Garamond;
}